<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaomap</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.671662138588-0uodotgk41i8fojap32kjqnvsi31dpig</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>671662138588-0uodotgk41i8fojap32kjqnvsi31dpig.apps.googleusercontent.com</string>
</dict>
</plist>
